<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
    <!--トラスト更新 start-->
    <clear /> <!-- これによりグローバルのパッケージソースが無視されます -->
    <add key="NuGet.config" value="." />
    <!--<add key="Local Syncfusion MAUI Source Package 24.1.41" value="Syncfusion\nuget" />-->
     <!--トラスト更新 end-->
  </packageRestore>
  <packageSources>
    <add key="Local Syncfusion MAUI Source Package 24.1.41" value="../nuget" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <activePackageSource>
    <add key="Local Syncfusion MAUI Source Package 24.1.41" value="../nuget" />
  </activePackageSource>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
</configuration>
